<IfModule mod_php.c>
  php_flag engine off
</IfModule>

<IfModule mod_php7.c>
  php_flag engine off
</IfModule>

<FilesMatch "\.(?i:php)$">
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>

AddType image/jpeg .jpg .jpeg .jpe
AddType image/png .png
AddType image/webp .webp

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>